*{
    margin: 0px;
    color: white;
    /* border: solid rebeccapurple 1px; */
    text-decoration: none;
}
header{
    background-image: url(/assets/image-header.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.Nhero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    padding: 0 20px;
}
nav{
    display: flex;
    flex-direction: row;
     gap: 1em; 
    font-size: 18px;
    font-family: monospace;

}
nav a{
    text-decoration: none;
}
.hero-content{
     display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
h1{
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    
    font-size: 110px;
    line-height: 1;
    font-weight: 300;
    span {
        font-size: 53px;
        font-style: medium;
    }
}
.phero{
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    font-style: bold;
    font-size: 20px;
}
.btndivh{
    height: 45px;
    display: flex;
    gap: 20px;
    font-weight: 600;
}
.btn1{
    padding: 10px 30px;
    background-color: black;
    border-radius: 7px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
}
.btn2{
    padding: 10px 30px;
    background-color: white;
    color: black;
    border-radius: 7px;
    font-family: "DM Sans", sans-serif;
}
.divhero{
    margin-top: 71px;
}
main{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* width: 100%; */

}
.Smain1{
    display: flex;
    font-family: "DM Sans", sans-serif;
    flex-direction: column;
    height:80vh ;
    justify-content: center;
    padding: 0px 300px

}
.IMGSECT{
    display: flex;

}
.IMGSEUL{
        max-width: 100%;
    height: auto
}

